<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>

  <appSettings>
    <add key="reCaptcha-PublicKey" value="000000000000"  />
    <add key="reCaptcha-PrivateKey" value="000000000000"  />
  </appSettings>
  
  <castle>
    <properties>
      <!-- NoRM connection string-->
      <myConnStr>mongodb://127.0.0.1/MongoBlog?strict=false</myConnStr>
      
      <!-- mongodb-csharp driver connection string -->
      <!--<myConnStr>Server=localhost:27017</myConnStr>-->
    </properties>
    <components>
      <!--
       lifestyle(s):
          Transient - NEVER RELEASED! Each call creates and returns a reference to a new object.
          Singleton - NEVER RELEASED! The first call instantiates the class and returns a reference to it, subsequent calls return references to the same object.
          PerWebRequest - 
          Thread - A single instance is created per thread and then cached. Each thread owns a single instance of a component.
          Pooled -> initialPoolSize="2" maxPoolSize="5" - Components instances are retrieved from a pool as long as it contains any, otherwise they are instantiated.
          Custom
      -->

      <!-- NoRM component string -->
      <component id="PostRepository" service="DomainModel.Abstract.IPostRepository, DomainModel" type="DomainModel.Concrete.MongoNormPostRepository, DomainModel" lifestyle="Pooled">

      <!-- mongodb-csharp driver component string -->
      <!--<component id="PostRepository" service="DomainModel.Abstract.IPostRepository, DomainModel" type="DomainModel.Concrete.MongoCSharpPostRepository, DomainModel" lifestyle="Pooled">-->
        <parameters>
          <connectionString>#{myConnStr}</connectionString>
        </parameters>
      </component>
    </components>
  </castle>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Mongo.HtmlHelpers" />
      </namespaces>
    </pages>
    
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

